*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(255, 255, 255, 0.144);
    text-align: center;
}

header{
    background-color: #ffffff36;
    padding: 2px;
    color: rgb(85, 81, 81);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

h1{
    margin: 16px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style: none;
    margin: 22px;
}

ul li{
    display: inline;
    margin: 4px;
}

img{
    margin: 12px;
}
section{
    padding: 10px;
    text-align: center;
    margin: 2% 20% 4%;
}

section p{
  text-align: justify; 
  margin: 5px 0 20px; 
  color: #30333388;
}
h3 {
    color: #0a2121; 
    font-size: 20px;
   
}
ol li{
    text-align: left;
    font-weight: 900;
    font-style: italic;
    list-style-type: none;
}



