*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: #001e3a36;
    padding: 2px;
    color: white;
}

h1{
    margin: 16px;
    padding: 2px;
}

ul{
    list-style: none;
    margin: 22px;
}

section{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
}

h3 {
    color: #0a2121; 
    font-size: 20px;
}



ul li{
    display: inline;
    margin: 4px;
}